pdfjsonenv/
extracted_txt/
parsed_data/
a_res/
.obsidian

app2.py

resumes/Basit Vadsarya CV.pdf
resumes/OWAIS_AHMED_KHAN_Resume.pdf
resumes/ShoaibKhan_CV[1].pdf
resumes/ShoaibKhan_CV[3].docx
resumes/SubataNaveenKhan_Resume.docx
resumes/Subata_Naveen_Khan-resume.pdf
